/* TODO: Add your app CSS here */
* {
  font-family: Helvetica, Arial, sans-serif;
}

.match .home-team, .match .away-team {
  display: inline-block;
  width: 150px;
}

.matches > *:nth-child(odd) {
  background-color: #eee;
}

.match .home-score, .match .away-score {
  width: 2em;
  text-align: center;
}

.match .completed {
  display: inline;
}

