/* TODO: Add your app CSS here */
* {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  padding: 5px 10px;
  font-size: 16px;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted #000;
}
h1 {
  margin: 0 0 20px 0;
}

h2 {
  margin: 0 0 10px 0;
  padding: 3px 5px 2px;
  color: #fff;
  background-color: #7ec350;
  font-size: 20px;
}

.standings, .matches {
  width: 480px;
  margin-bottom: 20px;
}

.match, .team, .header {
  padding: 3px 5px 2px;
  border-bottom: 1px solid #e0ecf8;
}

.header {
  border-bottom: 1px solid #7ec350;
  margin-bottom: 2px;
}
.header * {
  font-weight: bold;
  color: #438aba;
}


.standings .name {
  display: inline-block;
  text-align: left;
  width: 180px;
}

.standings .played, 
.standings .won, 
.standings .draw, 
.standings .lost, 
.standings .goals-for,
.standings .goals-against,
.standings .points {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.standings .points {
  width: 50px;
  font-weight: bold;
}

.standings .item .name {
  font-weight: normal;
}


.matches .home-team, .matches .away-team {
  display: inline-block;
  width: 180px;
  text-align: left;
}

.match .results {
  position: relative;
  top: -1px;
}
.match .results.is-completed {
  background-color: #7ec350;
}
.match .home-score input, .match .away-score input {
  width: 2em;
  text-align: center;
}
.matches .results {
  display: inline-block;
  width: 90px;
  text-align: center;
}
.matches .completed {
  width: 100px;
  display: inline-block;
  text-align: center;
}