/* ===========================================================================
   BPM Combined Asset File
   MANIFEST: handlebars (1.0.0.beta.2) jquery (1.6.2) spade (1.0.0.5) sproutcore (2.0.beta.3) sproutcore-datastore (2.0.beta.2) sproutcore-datetime (2.0.beta.3) sproutcore-handlebars (2.0.beta.3) sproutcore-handlebars-format (2.0.beta.3) sproutcore-indexset (2.0.beta.3) sproutcore-metal (2.0.beta.3) sproutcore-runtime (2.0.beta.3) sproutcore-views (2.0.beta.3)
   This file is generated automatically by the bpm (http://www.bpmjs.org)
   =========================================================================*/

